<section class="app-section app-bg app-customize">
    <div class="container">
      <div class="text-center">
        <h2 class="app-h2 text-white text-bold">Customized by Professionals</h2>
        <p class="app-p text-white">When you place an order it will be assigned to professional Designer not bots.<br>
          So Need not to worry about requirements like Duration, cropping or color correction.</p>
          <button class="btn btn-default btn-img btn-md"><img src="../../content/images/send.svg" alt=""><span>Try Demo</span></button>
      </div>
    </div>
  </section>


<section class="app-section" id="howitworks">
    <div class="container">
      <div class="text-center app-section__heading lg">
        <h2 class="app-h2 text-primary text-bold">How It Works</h2>
        <p class="app-p">You Choose The Design. We Do The Rest</p>
      </div>

      <div class="app-cardlist">
        <div class="app-card app-card--primary-light">
          <div class="img-block">
            <img src="../../content/images/Select.png" alt="">
          </div>
          <div class="app-content" data-number="1">
            <h6 class="app-h6 text-bold text-black">Choose The Design</h6>
            <p class="app-sm-text">Explore through Our Design
              Videos Library and select
              the design you like. You can
              choose one or more Design
              Videos there is no limit</p>
          </div>
        </div>
        <div class="app-card app-card--grey-light">
          <div class="img-block">
            <img src="../../content/images/Payment.png" alt="">
          </div>
          <div class="app-content" data-number="2">
            <h6 class="app-h6 text-bold text-black">Make Payment</h6>
            <p class="app-sm-text">
              Make Payment through
              Our Secured Payment
              Gateway. You can use
              Credit Card or Debit Card
              or Google Pay or PayPal
              or Monthly Subscription.</p>
          </div>
        </div>
        <div class="app-card app-card--primary-light">
          <div class="img-block">
            <img src="../../content/images/upload.png" alt="">
          </div>
          <div class="app-content" data-number="3">
            <h6 class="app-h6 text-bold text-black">Upload Photos and Videos</h6>
            <p class="app-sm-text">
              Input Text and Images or
              Videos and your own music
              (Optional) using Our
              Specially Designed
              Upload Form. It's Easy to use
              and You will Love It.</p>
          </div>
        </div>
        <div class="app-card app-card--grey-light">
          <div class="img-block">
            <img src="../../content/images/Cup.png" alt="">
          </div>
          <div class="app-content" data-number="4">
            <h6 class="app-h6 text-bold text-black">We will Do the rest</h6>
            <p class="app-sm-text">
              And You are done. Just Sit
              back and Relax. We will Do
              the all Necessary Things
              and will send Your Final
              Video to your mail or
              whatsapp./p>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-img btn-md"><img src="../../content/images/send.svg" alt=""><span>Play Video</span></button>
      </div>
    </div>
  </section>