<section class="app-banner app-default-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h1 class="app-h1 text-white">Incredible & <span class="text-bold">Creative Videos.</span>Crafted by <span class="text-bold">Professionals.</span></h1>
          <h4 class="text-white app-h4">Videos that are designed with passion and Crafted in a professional way. so when you order there is a professional team working on your project</h4>
            <button class="btn btn-md btn-default">Get Started</button>
        </div>
      </div>
     
    </div>
  </section>



<jhi-videodesigns></jhi-videodesigns>
<jhi-how-it-works></jhi-how-it-works>
<jhi-main-features></jhi-main-features>
<jhi-price-plan></jhi-price-plan>
