<section class="app-section app-section--pricing app-section--light-bg" id="pricing">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-sm-6">
          <div class="app-img">
            <img src="../../content/images/Pricing illustration.png">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="app-section__heading">
            <h2 class="app-h2 text-primary text-bold">Simple & transperant Pricing</h2>
            <p class="app-p">Simple and Flexible Pricing options for freelancers and Design teams.<br>you can purchase directly or Subscribe to save more
              </p>
              <button class="btn btn-primary my-2" type="submit" [routerLink] = "['/pricing']" routerLinkActive="active">See Pricing</button>
          </div>
        </div>
      </div>
      
    </div>
  </section>
