<section class="app-section">
    <div class="container">
      <div class="text-center app-section__heading">
        <h2 class="app-h2 text-primary text-bold">Main Features</h2>
        <p class="app-p">visualvid lets you save more money and time.<br>
          These designs will cost you a fortune if you hire a designer For same videos</p>
      </div>

      <div class="app-cardlist app-cardlist--v3">
        <div class="app-card app-card--no-style">
          <div class="img-block">
            <img src="../../content/images/Do it from anywhere.svg" alt="">
          </div>
          <div class="app-content">
            <h6 class="app-h6 text-bold text-black">Do it from anywhere</h6>
            <p class="app-sm-text">Watch and order on the go with the
              visualvid app. you can select
              and upload straight from your moble.</p>
          </div>
        </div>
        <div class="app-card app-card--no-style">
          <div class="img-block">
            <img src="../../content/images/No design skills.svg" alt="">
          </div>
          <div class="app-content">
            <h6 class="app-h6 text-bold text-primary">no need of design skills</h6>
            <p class="app-sm-text">No more high end system.
              No more expensive Softwares or
              software skils required</p>
          </div>
        </div>
        <div class="app-card app-card--no-style">
          <div class="img-block">
            <img src="../../content/images/save your time & money.svg" alt="">
          </div>
          <div class="app-content">
            <h6 class="app-h6 text-bold text-primary">Save money & time</h6>
            <p class="app-sm-text">Get your videos done
              with faster turn around time
              for a fraction of price</p>
          </div>
        </div>
        <div class="app-card app-card--no-style">
          <div class="img-block">
            <img src="../../content/images/Secured payments.svg" alt="">
          </div>
          <div class="app-content">
            <h6 class="app-h6 text-bold text-primary">Secured payments</h6>
            <p class="app-sm-text">Make your payments securely
              Through PCI DSS Level 1 compliant
              payment gateway
              </p>
          </div>
        </div>
        <div class="app-card app-card--no-style">
          <div class="img-block">
            <img src="../../content/images/Quality videos and support.svg" alt="">
          </div>
          <div class="app-content">
            <h6 class="app-h6 text-bold text-primary">Quality videos & support</h6>
            <p class="app-sm-text">Exclusive & Inspiring videos.
              Endless creativity that comes
              with Awesome service and suppor</p>
          </div>
        </div>
        <div class="app-card app-card--no-style">
          <div class="img-block">
            <img src="../../content/images/Free for commercial use.svg" alt="">
          </div>
          <div class="app-content">
            <h6 class="app-h6 text-bold text-primary">Free for commercial use</h6>
            <p class="app-sm-text">Once you get a videos from us.
              you can use it any purpose
              even for commercial or broadcast</p>
          </div>
        </div>
      </div>

    </div>
  </section>