<jhi-table [rowData]="rowData"
               [enableCheckbox]="true"
               [allowMultiSelect]="true"
               (getSelectedRows)="onNotifySelected($event)"
               (onDoubleClick)="onDoubleClick($event)"
               [sqPaginationConfig]="tablePaginationSettings"
               [sqColumnDefinition]="columnDefinition">

                <ng-template #orderStatusTemplate let-element="element" let-column="column">
                    <div class="custom-style-red">
                        <mat-select [ngModel]="currentAction">
                            <mat-option *ngFor="let action of actions" [value]="action.value">
                                {{action.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                </ng-template>

        </jhi-table>