<section class="app-cart">
   <div class="container">
      <div class="app-cart-wrapper row">
         <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="app-cart__left">
               <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!shoppingCartItems.length">
                  <mat-chip-list>
                     <mat-chip color="warn" selected="true">YOU HAVE NO ITEMS IN YOUR SHOPPING CART.</mat-chip>
                  </mat-chip-list>
               </div>
               <div class="app-cart__header">
                  <div class="row">
                     <div class="col-sm-6 btn-block">
                        <button class="btn btn-default" routerLink="/videos" routerLinkActive="active-navitem">Continue Shopping</button>
                     </div>
                  </div>
               </div>
            <mat-card *ngIf="shoppingCartItems.length > 0" class="app-cart__body app-card box-shadow">
               <ul class="list-unstyled app-cart__list">
                  <li *ngFor="let item of shoppingCartItems; let i = index">
                     <span class="app-icon icon-close" (click)="removeItem(item)"></span>
                     <div class="img-block">
                        <img src="{{item.thumbNailS3Url}}" alt="">
                     </div>
                     <div class="list-content">
                        <p class="list-heading">{{item.name}}</p>
                        <p>Christmas Greetings</p>
                        <div class="list-quantity">
                           <!-- <select name="" id="">
                  <option value="">qty: 1</option>
                  </select> -->
                           <p class="m-0 price"><sup>$</sup> <span>{{item.indianPrice}}</span></p>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="app-cart__total">
                  <span class="total">Tota</span>
                  <span class="price"><sup>$</sup> <span>77</span></span>
               </div>
               <div class="app-cart__footer">
                  <button class="btn btn-primary" routerLink="/checkout" routerLinkActive="active">Secured Checkout</button>
               </div>
               </mat-card>
            </div>
         </div>

               <div class="col-sm-12 col-md-12 col-lg-3">
                  <div class="app-cart__right">
                     <div class="app-card box-shadow">
                        <p class="cart-total">Cart Total</p>
                        <p class="price"><sup>$</sup><span>138</span></p>
                        <div class="btn-block">
                           <button class="btn btn-block btn-primary">Secure Checkout </button>
                        </div>
                        <p class="m-0 sub">Prices shown above exlucing taxes</p>
                     </div>
                     <p class="text-cart-extra" (click)="buyNow()"><span
                           class="app-icon icon-security"></span><span>Secured Payments</span></p>
                  </div>
               </div>
            </mat-card>
          </div>
      </div>
</section>