<footer class="app-section app-section--footer">
    <div class="container-fluid">
      <div class="row app-footer-row">
        <div class="col-sm-4 col-md-4 col-lg-3">
          <div class="app-footer-contact">
            <img src="../../../content/images/logo.png" alt="" >
            <h6 class="app-p">Copyright @ 2021 Visualvid LLP
              All Rights Reserved</h6>
              <p class="app-p">Trademarks and brands are the
                property of their respective owners.</p>
                <ul class="list-unstyled app-sociallist">
                  <li><a href="#"><img src="../../../content/images/fb.svg" alt="" ></a></li>
                  <li><a href="#"><img src="../../../content/images/yt.svg" alt="" ></a></li>
                  <li><a href="#"><img src="../../../content/images/tw.svg" alt="" ></a></li>
                  <li><a href="#"><img src="../../../content/images/pt.svg" alt="" ></a></li>
                  <li><a href="#"><img src="../../../content/images/in.svg" alt="" ></a></li>
                </ul>
          </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9">
          <div class="app-footer-list">
            <div class="app-footer-listitem">
              <h5>Company</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="">Our Story</a>
                </li>
                <li>
                  <a href="">pricing</a>
                </li>
                <li>
                  <a href="">careers</a>
                </li>
              </ul>
            </div>
            <div class="app-footer-listitem">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="">Weddding </a>
                </li>
                <li>
                  <a href="">Corporate</a>
                </li>
                <li>
                  <a href="">Restaurant</a>
                </li>
                <li>
                  <a href="">Party promotion</a>
                </li>
              </ul>
            </div>
            <div class="app-footer-listitem">
              <h5>Support & Contact</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="">License</a>
                </li>
                <li>
                  <a href="">Privacy</a>
                </li>
                <li>
                  <a href="">Terms of service</a>
                </li>
                <li>
                  <a href="">contact us</a>
                </li>
              </ul>
            </div>
            <div class="app-footer-listitem">
              <h5>Who we are</h5>
              <ul class="list-unstyled">
                <li>
                  We are motion graphics
                  designers & Creatives with a
                  vision to provide best quality
                  videos for content creators.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>